# Linux executable
helion

# autosave files
*.autosave

# SCons files
.sconsign.dblite

# Doxygen output
docs/docs-heliocentric.html
docs/doxygen-heliocentric/doxygen_sqlite3.db
docs/doxygen-heliocentric/html

# Compiled Object files
*.slo
*.lo
*.o
#*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Other
log/*
upload
